body{
    padding: 0 0 400px;
    background: #f3df49 url(../img/nodebot.png) bottom right no-repeat;
    background-attachment: fixed;
    margin: 0;
    font: 16px/1.6em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    text-align:center;
    padding-top: 100px;
}
